<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gadget Addiction App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homestyle.css') }}">
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="navbar-left">
                <a href="/home">Home</a>
                {% if username %}
                    <a href="/quiz">Quiz</a>
                    <a href="/community">Community</a>
                    <a href="/previous">Previous Results</a>
                    {% if is_admin %}
                        <a href="/admin/dashboard">Admin Dashboard</a>
                        <a href="{{ url_for('admin_quiz_results') }}">View Quiz Results</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="navbar-right">
                {% if username %}
                    <span class="navbar-icon">👤</span>
                    <span class="navbar-user">{{ username }}</span>
                    <a href="/logout">Logout</a>
                {% else %}
                    <a href="/login">Login</a>
                    <a href="/signup">Signup</a>
                {% endif %}
            </div>
        </div>
    </nav>
    
    
    
    

    <!-- Background image -->
    <div class="background-container">
        <img src="{{ url_for('static', filename='main.jpg') }}" alt="Background" class="background-image">
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <section class="site-info">
        <div class="features-container">
            <a  class="feature-link">
                <div class="feature-box">
                    <h3>Quiz-Based Test</h3>
                    <p>Assess your level of gadget addiction through an engaging quiz that provides insights into your habits.</p>
                </div>
            </a>
            <a  class="feature-link">
                <div class="feature-box">
                    <h3>Community Platform</h3>
                    <p>Connect with others in our community space to share experiences and discuss topics related to gadget usage.</p>
                </div>
            </a>
        </div>
    </section>
    
    <footer>
        <p>© 2025 Gadget Addiction App. All rights reserved.</p>
    </footer>
</body>
</html>
