{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="home-content">
    <h2>Welcome to the Gadget Addiction Prediction Website</h2>
    <p>This app helps you understand and manage your gadget usage by analyzing your behavior. 
        Explore the features below to get started:</p>
    <ul>
        <li><strong>Quiz:</strong> Assess your gadget addiction level.</li>
        <li><strong>Community:</strong> Join community to learn better digital habits.</li>
    
    </ul>
</section>
{% endblock %}
